# Archivos de configuración local (SECRETOS)
.env
*.json

# Streamlit: permitir config.toml, ignorar secretos locales
.streamlit/*
!.streamlit/config.toml

# Carpetas temporales de Python
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store
Thumbs.db
